

<% include partials/had %>

<style>
    .tbl{
        margin-left:50px;
        margin-right:50px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
</style>

   <br />
   <a href='/CustomeOrderReport' style="margin-left:60%; "> Custome Order Report </a>
    <br>
    <center><h1>Customize Order Record</h1></center>

   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">User Name</th>
    <th scope="col">Measurements</th>
    <th scope="col">Email ID</th>
    <th scope="col"> Phone </th>
    <th scope="col">Message</th>
    <th scope="col">Image</th>
    <th scope="col">Work Name</th>
    <th scope="col">Size</th>
    <th scope="col">City Name</th>
    <th scope="col">Area Name</th>
    <th scope="col">Tailor Name</th>
    <th scope="col">Order</th>
   
    
</tr>
</thead>
<tbody>
<% ShowAllCustomeOrder.forEach(function(demo){%>
<tr>

<td> <%= demo.UserName %></td>
<td> <%= demo.Measurements %></td>
<td> <%= demo.EmailID %></td>
<td> <%= demo.Phone %></td>
<td> <%= demo.Message %></td>

<td> <img src="http://localhost:3000/images/upload/<%= demo.Image %>" height="70" width="70" alt="Smiley face" / > 
</td>
<td> <%= demo.Work_Name %></td>
<td><%= demo.Size %> </td>
<td><%= demo.City_Name %> </td>
<td><%= demo.Area_Name %> </td>

<td>
<select class="form-control" name="Tailor_Name">
<% for(var i=0; i<type.length; i++) { %>
  <option><%= type[i].Tailor_Name %> </option>
  <% } %>
</select>
</td>

<td><button type="button" class="btn btn-primary">Conform</button></td>



</tr>
<%}) %>


</tbody>


</table>
</div>

<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>