

<% include partials/had %>

<style>
    .tbl{
        margin-left:40px;
        margin-right:40px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
</style>

   <br />
   <a href='/exporttocsv' style="margin-left:60%; "> Product Report </a>
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Product Name</th>
    <th scope="col">Price</th>
    <th scope="col">Description</th>
    <th scope="col">QTY</th>
    <th scope="col">Category Name</th>
    <th scope="col">Brand Name</th>
    <th scope="col">Size</th>
    <th scope="col">Color Name</th>
    <th scope="col">Offer</th>
   
    <th scope="col">Image</th>


    <th scope="col">Edit/Delete</th>
</tr>
</thead>
<tbody>
<% ShowAllProduct.forEach(function(demo){%>
<tr>

<td> <%= demo.Product_Name %></td>
<td> <%= demo.Price %></td>
<td> <%= demo.Description %></td>
<td> <%= demo.QTY %></td>
<td> <%= demo.Category_Name %></td>
<td> <%= demo.Brand_Name %></td>
<td> <%= demo.Size %></td>
<td> <%= demo.Color_Name %></td>
<td> <%= demo.Offer %></td>
<td>
 <img src="http://localhost:3000/images/upload/<%= demo.Image %>" height="70" width="70" alt="Smiley face" / > 

</td>
<td>
        <a href='/edtsProduct/<%= demo._id %>'>Edit</a>  |

        <a href='/deleteProduct/<%= demo._id %>'>Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>



<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>