

<% include partials/had %>

<style>
    .tbl{
        margin-left:50px;
        margin-right:50px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
#tg{
    margin-left:1200px;
}

</style>

<br>
<br>
<center><h2>All Details Of Company</h2></center>

<a class="btn btn-primary" id="tg" href="Company">Add Company</a>
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Company Name</th>
    <th scope="col">Address</th>
    <th scope="col">Mobile Number</th>
    <th scope="col">Email ID</th>
    <th scope="col">Area</th>
    

    <th scope="col">Edit/Delete</th>
    
</tr>
</thead>
<tbody>
<% ShowAllCompany.forEach(function(demo){%>
<tr>

<td> <%= demo.Company_Name %></td>
<td> <%= demo.Address %></td>
<td> <%= demo.Mobile %></td>
<td> <%= demo.Email_ID %></td>
<td> <%= demo.Area %></td>

<td>
        <a href='/edtsCompany/<%= demo._id %>'>Edit</a>  |

        <a href='/deleteCompany/<%= demo._id %>' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>

<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>