

<% include partials/had %>

<style>
    .tbl{
        margin-left:40px;
        margin-right:40px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
</style>

   <br />
   <a href='/PurchaseReport' style="margin-left:60%; "> Purchase Report </a>
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Purchase Date</th>
    <th scope="col">Supplier Name</th>
    <th scope="col">Product Name</th>
    <th scope="col">QTY</th>
    <th scope="col">Price</th>
    <th scope="col">CGST</th>
    <th scope="col">SGST</th>
    <th scope="col">Total</th>
    


    <th scope="col">Edit/Delete/Purchase Return</th>
</tr>
</thead>
<tbody>
<% ShowAllPurchase.forEach(function(demo){%>
<tr>

<td> <%= moment(demo.Purchase_Date).format('LL') %></td>
<td> <%= demo.Supplier_Name %></td>
<td> <%= demo.Product_Name %></td>
<td> <%= demo.QTY %></td>
<td> <%= demo.Price %></td>
<td> <%= demo.CGST %></td>
<td> <%= demo.SGST %></td>
<td> <%= demo.Total %></td>


<td>
        <a href='/EditPurchase/<%= demo._id %>'>Edit</a>  |

        

        <a href='/PurchaseReturn/<%= demo._id %>'>Purchase Return</a> 


</td>


</tr>
<%}) %>


</tbody>


</table>
</div>

<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
  

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
