

<% include partials/had %>

<style>
    .tbl{
        margin-left:40px;
        margin-right:40px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
.tb{
  margin-left:1200px;
}
</style>
<body>
<div id="tab">
<br>
<br>
<center><h2>All Details Of Purchase</h2></center>

<div class="tb">
<input type="button" value="Purchase Report" 
id="btPrint" onclick="createPDF()" />
</div>
 
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Purchase Date</th>
    <th scope="col">Supplier Name</th>
    <th scope="col">Product Name</th>
    <th scope="col">QTY</th>
    <th scope="col">Price</th>
    <th scope="col">CGST</th>
    <th scope="col">SGST</th>
    <th scope="col">Total</th>
    


    <th scope="col">Edit/Delete/Purchase Return</th>
</tr>
</thead>
<tbody>
<% ShowAllPurchase.forEach(function(demo){%>
<tr>

<td> <%= moment(demo.Purchase_Date).format('LL') %></td>
<td> <%= demo.Supplier_Name %></td>
<td> <%= demo.Product_Name %></td>
<td> <%= demo.QTY %></td>
<td> <%= demo.Price %></td>
<td> <%= demo.CGST %></td>
<td> <%= demo.SGST %></td>
<td> <%= demo.Total %></td>


<td>
        <a href='/EditPurchase/<%= demo._id %>'>Edit</a>  |

        

        <a href='/PurchaseReturn/<%= demo._id %>'>Purchase Return</a> 


</td>


</tr>
<%}) %>


</tbody>


</table>
</div>

<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
</div>
  </body>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>


<script>
    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>