

<% include partials/had %>

<style>
    .tbl{
        margin-left:100px;
        margin-right:100px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
</style>

<br>
<br>
<center><h2>All Details Of Tailor</h2></center>

   <a href='/TailorReport' style="margin-left:60%; "> Tailor Report </a>
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Tailor Name</th>
    <th scope="col">Address</th>
    <th scope="col">Mobile</th>
    <th scope="col">Email_ID</th>
    <th scope="col">Company_Name</th>

    <th scope="col">Edit/Delete</th>
</tr>
</thead>
<tbody>
<% ShowAllTailor.forEach(function(demo){%>
<tr>

<td> <%= demo.Tailor_Name %></td>
<td> <%= demo.Address %></td>
<td> <%= demo.Mobile %></td>
<td> <%= demo.Email_ID %></td>
<td> <%= demo.Company_Name %></td>

<td>
        <a href='/edtTailor/<%= demo._id %>'>Edit</a>  |

        <a href='/deletesTailor/<%= demo._id %>'>Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>


<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>