

<% include partials/had %>

<style>
    .tbl{
        margin-left:200px;
        margin-right:200px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
#tg{
    margin-left:1200px;
}
</style>

<br>
<br>
<center><h2>Show All Area</h2></center>
<a class="btn btn-primary" id="tg" href="Area">Add Area</a>
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">City Name</th>
    <th scope="col">Area Name</th>
    <th scope="col">Pincode</th>

    <th scope="col">Edit/Delete</th>
    
</tr>
</thead>
<tbody>
<% ShowAllArea.forEach(function(demo){%>
<tr>

<td> <%= demo.City_Name %></td>
<td> <%= demo.Area_Name %></td>
<td><%= demo.Pincode %></td>

<td>
        <a href='/edts/<%= demo._id %>'>Edit</a>  |

        <a href='/deleteArea/<%= demo._id %>' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>

<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>