

<% include partials/had %>

<style>
    .tbl{
        margin-left:100px;
        margin-right:100px;
        margin-top:50px;
    }
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
  margin-bottom:5px;

}
.tb{
  margin-left:1200px;
}
</style>
<body>
<div id="tab">
<br>
<br>
<center><h2>All Details Of Tailor</h2></center>

<div class="tb">
<input type="button" value="Tailor Report" 
id="btPrint" onclick="createPDF()" />
</div>
   <div class="tbl">
<table class="table table-bordered" id="myTable">
<thead>
<tr>
    <th scope="col">Tailor Name</th>
    <th scope="col">Address</th>
    <th scope="col">Mobile</th>
    <th scope="col">Email_ID</th>
    <th scope="col">Company_Name</th>

    <th scope="col">Edit/Delete</th>
</tr>
</thead>
<tbody>
<% ShowAllTailor.forEach(function(demo){%>
<tr>

<td> <%= demo.Tailor_Name %></td>
<td> <%= demo.Address %></td>
<td> <%= demo.Mobile %></td>
<td> <%= demo.Email_ID %></td>
<td> <%= demo.Company_Name %></td>

<td>
        <a href='/edtTailor/<%= demo._id %>'>Edit</a>  |

        <a href='/deletesTailor/<%= demo._id %>'>Delete</a>
</td>


</tr>
<%}) %>


</tbody>


</table>
</div>


<div class="footer">
<p>© 2009-20. All Rights Reserved. Powered by RiseCommercer</p>
</div>
</div>
</body>
  
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>



<script>
    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>